* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  width: 100vw;
  position: relative;
}

main {
  column-count: 3;
}

li {
  margin: 10px 0;
}

input[type=text] {
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  position: relative;
}
/*
h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}*/

.cat {
  break-inside: avoid;
}

h2 {
  margin-top: 0;
  padding-top: 0.8em;
}
